.caption{
    font-size: 120px;
    color: aqua;
    font-family: "monospace";
    font-style: italic;
}

button{
    width: 200px;
    font-size: 30px;
    color: aqua;
    background-image: url("https://media3.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif?cid=790b7611a654d6c5ac331772477eab0b4f482022b48ee365&rid=giphy.gif");
    font-family: monospace;
    border: 2px solid aqua;
    height: 100px;
}
#content {
    text-align: center;
}
body{
    background-image: url("https://hacktoberfest.digitalocean.com/_nuxt/img/logo-hacktoberfest-full2.aa1e9d9.svg");
    background-size: 100%;
    background-position: 0px -200px;
}

.button_text {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
