.caption{
    font-size: 150px;
    color: gray;
}

button{
    height: 50px;
    width: 200px;
    font-size: 45px;
}

body{
    background-image: url("https://miro.medium.com/max/4268/1*aqP09YcxgiuK4p1-PQljaw.png");
    background-repeat: no-repeat;
    background-size: auto;
}

